{% extends 'base.html.twig' %}

{% block page_content %}
    <h1>Lista aukcji</h1>
    {% for  auction in auctions %}
        <a href="{{ path('auction_details',{'id' : auction.id}) }}">{{ auction.title }}</a><hr>
        {{ auction.description }}<hr>
        {{ auction.price }}<hr>
    {% endfor %}
{% endblock %}